global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'sse-app'
    static_configs:
      - targets: ['app1:3001', 'app2:3002', 'app3:3003']
    metrics_path: /metrics
    scrape_interval: 5s
